# Compiled JavaScript files
**/lib/**/*.js
**/*.js
**/lib/**/*.js.map

# TypeScript v1 declaration files
**/typings/

# Node.js dependency directory
**/node_modules/

**/.idea/.gitignore
**/.vscode/
.idea/
.vscode/
**/dist/**
